__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/

Datasets/
data/raw/
data/processed/
*.csv
*.tsv
*.pcap
*.pcap_ISCX
*.zip
*.tar.gz
*.parquet

model/checkpoints/
*.pt
*.pth
*.onnx
*.pkl

logs/
*.log

.vscode/
.idea/
.DS_Store
Thumbs.db
